
config ZMK_INPUT_MOCK
    bool "Input Mock"
    default y
    depends on INPUT
    depends on DT_HAS_ZMK_INPUT_MOCK_ENABLED

config ZMK_INPUT_GPIO_MATRIX
    bool "GPIO matrix input driver"
    default y
    depends on DT_HAS_ZMK_INPUT_GPIO_MATRIX_ENABLED
    select INPUT
    select GPIO
    select ZMK_DEBOUNCE

config ZMK_INPUT_GPIO_DIRECT
    bool "Direct GPIO input driver"
    default y
    depends on DT_HAS_ZMK_INPUT_GPIO_DIRECT_ENABLED
    select INPUT
    select GPIO
    select ZMK_DEBOUNCE

config ZMK_INPUT_COMPOSITE
    bool "Composite input driver"
    default y
    depends on DT_HAS_ZMK_INPUT_COMPOSITE_ENABLED
    select INPUT

config ZMK_INPUT_DEGHOST
    bool "Deghost input driver"
    default y
    depends on DT_HAS_ZMK_INPUT_DEGHOST_ENABLED
    select INPUT

if ZMK_INPUT_GPIO_DIRECT

config ZMK_INPUT_DIRECT_POLLING
    bool "Poll for key event triggers instead of using interrupts on direct GPIO boards."

endif # ZMK_INPUT_GPIO_DIRECT

if ZMK_INPUT_GPIO_MATRIX

config ZMK_INPUT_MATRIX_POLLING
    bool "Poll for key event triggers instead of using interrupts on matrix boards."

config ZMK_INPUT_MATRIX_WAIT_BEFORE_INPUTS
    int "Microseconds to wait before reading inputs after an output set active"
    default 0
    help
        When iterating over each output to drive it active, read inputs, then set
        inactive again, some boards may take time for output to propagate to the
        inputs. In that scenario, set this value to a positive value to configure
        the number of microseconds to wait after setting an output active before
        reading the inputs for their active state.

config ZMK_INPUT_MATRIX_WAIT_BETWEEN_OUTPUTS
    int "Microseconds to wait between each output when scanning"
    default 1 if SOC_RP2040 || SOC_SERIES_RP2350
    default 0
    help
        When iterating over each output to drive it active, read inputs, then set
        inactive again, some boards may take time for the previous output to
        "settle" before reading inputs for the next active output column. In that
        scenario, set this value to a positive value to configure the number of
        microseconds to wait after reading each column of keys.

endif # ZMK_INPUT_GPIO_MATRIX

if ZMK_INPUT_GPIO_MATRIX || ZMK_INPUT_GPIO_DIRECT

config ZMK_INPUT_DEBOUNCE_PRESS_MS
    int "Debounce time for key press in milliseconds."
    default -1
    help
        Global debounce time for key press in milliseconds.
        If this is -1, the debounce time is controlled by the debounce-press-ms
        Devicetree property, which defaults to 5 ms. Otherwise this overrides the
        debounce time for all input GPIO drivers to the chosen value.

config ZMK_INPUT_DEBOUNCE_RELEASE_MS
    int "Debounce time for key release in milliseconds."
    default -1
    help
        Global debounce time for key release in milliseconds.
        If this is -1, the debounce time is controlled by the debounce-release-ms
        Devicetree property, which defaults to 5 ms. Otherwise this overrides the
        debounce time for all input GPIO drivers to the chosen value.

endif # ZMK_INPUT_GPIO_MATRIX || ZMK_INPUT_GPIO_DIRECT
