# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_DAISY=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

# enable GPIO
CONFIG_GPIO=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# nPM1300 PMIC
# CONFIG_GPIO_NPM1300=n
# CONFIG_LED_NPM1300=y
CONFIG_GPIO=y
CONFIG_REGULATOR=y
CONFIG_SENSOR=y
CONFIG_LED=y

# Only allow 3 profiles (3 LED indicators)
CONFIG_BT_MAX_CONN=3
CONFIG_BT_MAX_PAIRED=3
# Increase stack size, otherwise crashes when pressing pairing button to switch
# bluetooth profiles
CONFIG_INPUT_THREAD_STACK_SIZE=2048

CONFIG_ZMK_BATTERY_REPORTING=y
# Every 5 seconds
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=5

CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_USE_DT_CODE_PARTITION=y
