# Daisy board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_DAISY

config BOARD
	default "daisy"

config BT_CTLR
	default BT

endif # BOARD_DAISY
