/*
 * Copyright (c) 2025 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;

#include <raspberrypi/rpi_pico/rp2040.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include "framework16-pinctrl.dtsi"

/ {
    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,flash-controller = &ssi;
        zephyr,code-partition = &code_partition;
        zmk,kscan = &kscan0;
        // zmk,matrix-transform = &ansi_transform;
        // zmk,matrix-transform = &iso_transform;
        // zmk,matrix-transform = &jis_transform;
        // zmk,matrix-transform = &numpad_transform;
        zmk,matrix-transform = &macropad_transform;
        zmk,backlight = &backlight_pwm;
        zmk,underglow = &virtual_strip;
    };

    aliases {
        led0 = &caps_led;
        pwm-led0 = &backlight_pwm;
    };

    virtual_strip: virtual_strip {
        compatible = "led-to-led-strip";

        /* Link to the real LED controller */
        led-controller = <&led_ctrl1>;

        /* Length of the virtual strip */
        chain-length = <198>;

        /* * MAPPING:
         * Define which LED controller channels correspond to [R, G, B] for each pixel.
         * Format: <Pixel0_R Pixel0_G Pixel0_B Pixel1_R Pixel1_G Pixel1_B ...>
         */
        // color-map = <
        //     0  1  2    /* Pixel 0 uses channels 0,1,2 */
        //     3  4  5    /* Pixel 1 uses channels 3,4,5 */
        // >;

        /* Needed for the led_strip API constraints */
        //in-gpios = <>; /* Dummy, usually required by bindings validation or ignored */
    };

    leds {
        compatible = "gpio-leds";
        caps_led: led_0 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        };
    };

    backlight_pwm: pwmleds {
        compatible = "pwm-leds";
        status = "okay";
        pwm_led_0 {
            pwms = <&pwm 9 PWM_NSEC(1000) PWM_POLARITY_NORMAL>;
            label = "Backlight";
        };
    };

    ansi_transform: ansi_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <8>;
        map = <
          // (row, col)
          RC(7,5)  RC(3,5)  RC(2,5)  RC(6,4)  RC(3,4)  RC(4,10) RC(3,10) RC(2,10) RC(1,15) RC(3,11) RC(4,8)  RC(6,8)  RC(3,13) RC(0,1)
          RC(4,2)  RC(5,2)  RC(5,5)  RC(5,4)  RC(5,6)  RC(4,6)  RC(4,7)  RC(5,7)  RC(5,10) RC(5,8)  RC(4,13) RC(2,13) RC(4,14) RC(5,14)
          RC(3,2)  RC(0,2)  RC(6,5)  RC(2,4)  RC(6,6)  RC(3,6)  RC(3,7)  RC(6,7)  RC(6,10) RC(3,8)  RC(5,13) RC(6,13) RC(6,14) RC(2,8)
          RC(4,4)  RC(7,2)  RC(4,5)  RC(7,14) RC(7,6)  RC(2,6)  RC(2,7)  RC(7,7)  RC(7,10) RC(7,8)  RC(7,13) RC(0,14) RC(1,14)
          RC(1,9)           RC(1,5)  RC(0,5)  RC(0,0)  RC(0,6)  RC(1,6)  RC(1,7)  RC(0,7)  RC(0,10) RC(0,8)  RC(0,13) RC(0,9)
          RC(1,12) RC(2,2)  RC(3,1)  RC(1,3)                    RC(1,4)                    RC(0,3)  RC(0,12) RC(6,11) RC(1,13) RC(2,15)
                                                                                                                      RC(1,8)
        >;
    };

    iso_transform: iso_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <8>;
        map = <
          // (row, col)
          RC(7,5)  RC(3,5)  RC(2,5)  RC(6,4)  RC(3,4)  RC(4,10) RC(3,10) RC(2,10) RC(1,15) RC(3,11) RC(4,8)  RC(6,8)  RC(3,13) RC(0,1)
          RC(4,2)  RC(5,2)  RC(5,5)  RC(5,4)  RC(5,6)  RC(4,6)  RC(4,7)  RC(5,7)  RC(5,10) RC(5,8)  RC(4,13) RC(2,13) RC(4,14) RC(5,14)
          RC(3,2)  RC(0,2)  RC(6,5)  RC(2,4)  RC(6,6)  RC(3,6)  RC(3,7)  RC(6,7)  RC(6,10) RC(3,8)  RC(5,13) RC(6,13) RC(6,13)
          RC(4,4)  RC(7,2)  RC(4,5)  RC(7,14) RC(7,6)  RC(2,6)  RC(2,7)  RC(7,7)  RC(7,10) RC(7,8)  RC(7,13) RC(0,14) RC(2,8)  RC(1,14)
          RC(1,9)  RC(5,11) RC(1,5)  RC(0,5)  RC(0,0)  RC(0,6)  RC(1,6)  RC(1,7)  RC(0,7)  RC(0,10) RC(0,8)  RC(0,13) RC(0,9)
          RC(1,12) RC(2,2)  RC(3,1)  RC(1,3)                    RC(1,4)                    RC(0,3)  RC(0,12) RC(6,11) RC(1,13) RC(2,15)
                                                                                                                      RC(1,8)
        >;
    };

    numpad_transform: numpad_transform {
        compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <4>;
        map = <
          // (row, col)
          RC(2,1) RC(2,2) RC(3,4) RC(2,4)
          RC(0,0) RC(0,4) RC(1,1) RC(1,6)
          RC(0,1) RC(0,5) RC(1,2)
          RC(0,2) RC(0,6) RC(1,3) RC(1,7)
          RC(0,3) RC(0,7) RC(1,4)
          RC(1,0)         RC(1,5) RC(2,0)
        >;
    };

    macropad_transform: macropad_transform {
        compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <4>;
        map = <
          // (row, col)
          RC(2,1) RC(2,2) RC(3,4) RC(2,4)
          RC(0,0) RC(0,4) RC(1,1) RC(1,6)
          RC(0,1) RC(0,5) RC(1,2) RC(2,5)
          RC(0,2) RC(0,6) RC(1,3) RC(1,7)
          RC(0,3) RC(0,7) RC(1,4) RC(2,6)
          RC(1,0) RC(2,7) RC(1,5) RC(2,0)
        >;
    };

    // Dummy keyscan to make it compile
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-adc";
        wakeup-source;

	io-channels = <&adc 0>;

        adc-gpios
                  = <&gpio0 1 GPIO_ACTIVE_HIGH>
                  , <&gpio0 2 GPIO_ACTIVE_HIGH>
                  , <&gpio0 3 GPIO_ACTIVE_HIGH>
                  ;
        mux-enable-gpios
	          = <&gpio0 4 GPIO_ACTIVE_HIGH>;

        col-gpios
                  = <&gpio0  8 GPIO_ACTIVE_HIGH>  // KSO0
                  , <&gpio0  9 GPIO_ACTIVE_HIGH>  // KSO1
                  , <&gpio0 10 GPIO_ACTIVE_HIGH>  // KSO2
                  , <&gpio0 11 GPIO_ACTIVE_HIGH>  // KSO3
                  , <&gpio0 12 GPIO_ACTIVE_HIGH>  // KSO4
                  , <&gpio0 13 GPIO_ACTIVE_HIGH>  // KSO5
                  , <&gpio0 14 GPIO_ACTIVE_HIGH>  // KSO6
                  , <&gpio0 15 GPIO_ACTIVE_HIGH>  // KSO7
                  , <&gpio0 21 GPIO_ACTIVE_HIGH>  // KSO8
                  , <&gpio0 20 GPIO_ACTIVE_HIGH>  // KSO9
                  , <&gpio0 19 GPIO_ACTIVE_HIGH>  // KSO10
                  , <&gpio0 18 GPIO_ACTIVE_HIGH>  // KSO11
                  , <&gpio0 17 GPIO_ACTIVE_HIGH>  // KSO12
                  , <&gpio0 16 GPIO_ACTIVE_HIGH>  // KSO13
                  , <&gpio0 23 GPIO_ACTIVE_HIGH>  // KSO14
                  , <&gpio0 22 GPIO_ACTIVE_HIGH>  // KSO15
                  ;
    };

    // TODO: Implement analog key scanning with SGM48751 MUX
    // kscan0: kscan {
    //     compatible = "TBD";
    //     mux-enable-gpio = <&gpio0 4 GPIO_ACTIVE_HIGH)>;
    //     row-mux-gpios
    //         = <&gpio0 1 GPIO_ACTIVE_HIGH)>
    //         , <&gpio0 2 GPIO_ACTIVE_HIGH)>
    //         , <&gpio0 3 GPIO_ACTIVE_HIGH)>
    //         ;
    //     col-gpios
    //         = <&gpio0 8  GPIO_ACTIVE_HIGH>
    //         , <&gpio0 9  GPIO_ACTIVE_HIGH>
    //         , <&gpio0 10 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 11 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 12 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 13 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 14 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 15 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 16 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 17 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 18 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 19 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 20 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 21 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 22 GPIO_ACTIVE_HIGH>
    //         , <&gpio0 23 GPIO_ACTIVE_HIGH>
    //         ;
    // };
};

&flash0 {
    reg = <0x10000000 DT_SIZE_M(16)>;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Reserved memory for the second stage bootloader */
        second_stage_bootloader: partition@0 {
            reg = <0x00000000 0x100>;
            read-only;
        };

        /*
         * Usable flash. Starts at 0x100, after the bootloader. The partition
         * size is 16MB minus the 0x100 bytes taken by the bootloader.
         */
        code_partition: partition@100 {
            reg = <0x100 (DT_SIZE_M(16) - 0x100)>;
            read-only;
        };
    };
};

&i2c1 {
    /* IS31FL3743A supports 1MHz clock */
    clock-frequency = <I2C_BITRATE_STANDARD>;
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";

    /* Macropad has a single controller */
    led_ctrl1: is31fl3743_1@20 {
        status = "okay";
        reg = <0x20>;
        compatible = "issi,is31fl3743";
        sdb-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
        /* REQUIRED: Set global current limit (0-255) */
        current-limit = <255>;
        /* OPTIONAL: Set sync mode ("disabled", "master", "slave") */
        sync-mode = "none";
    };
    /* RGB Keyboard has a second controller */
    led_ctrl2: is31fl3743_2@23 {
        status = "disabled";
        reg = <0x23>;
        compatible = "issi,is31fl3743";
        sdb-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };
};

zephyr_udc0: &usbd {
    status = "okay";
};

&pwm {
    status = "okay";
    /* GPIO25 is connected to channel 4B */
    pinctrl-0 = <&pwm_ch4b_default>;
    pinctrl-names = "default";
    divider-int-0 = <255>;
};

&gpio0 {
    status = "okay";
};

&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

&timer {
    status = "okay";
};

&rtc {
    clocks = <&clocks RPI_PICO_CLKID_CLK_RTC>;
    status = "okay";
};

&vreg {
    regulator-always-on;
    regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};
