# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_RP2XXX=y
CONFIG_SOC_RP2040=y
CONFIG_BOARD_FRAMEWORK16=y

CONFIG_ZMK_KEYBOARD_NAME="Framework Laptop 16 - Zephyr Keyboard"
CONFIG_BT_DIS_MODEL="Framework Laptop 16 - Zephyr Keyboard"

CONFIG_USB_DEVICE_MANUFACTURER="Framework Computer"
CONFIG_BT_DIS_MANUF="Framework Computer"

CONFIG_USB_DEVICE_VID=0x32ac
CONFIG_BT_DIS_PNP_VID=0x32ac

# PID for non-production inputmodule firmware
CONFIG_USB_DEVICE_PID=0x001F
CONFIG_BT_DIS_PNP_PID=0x001F

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=125000000

# Enable USB CDC ACM logging for debugging
# CONFIG_ZMK_USB_LOGGING=y

# Enable reset by default
CONFIG_RESET=y

# Code partition needed to target the correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# Output UF2 by default, native bootloader supports it.
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_ZMK_USB=y

CONFIG_GPIO=y
CONFIG_PWM=y
CONFIG_LED=y
CONFIG_ZMK_BACKLIGHT=y
CONFIG_SHELL=y
