/ {
    leds {
        compatible = "gpio-leds";
        /* Capslock LED on keyboard membrane. Has pulldown on main PCB */
        caps_led: led_3 {
            gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
        };
    };
};

&i2c1 {
    status = "okay";

    touchpad: touchpad@2c {
        #include "../daisy-touchpad.dtsi"
        dr-gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};
