&i2c0 {
    status = "okay";

    touchpad: touchpad@2c {
        compatible = "zmk,hid-touchpad";
        status = "okay";
        reg = <0x2c>;
        dr-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        // Instead of parsing the HID report descriptor in firmware
        // We configure the report IDs and report structure here
        // PCT3854
        mouse-report-id = <2>;
        inputmode-report-id = <6>;
        relative-x-off = <4>;
        relative-x-len = <2>;
        relative-y-off = <6>;
        relative-y-len = <2>;
        button-off = <3>;
        button-bit = <0>;
    };
};
